Repository theopenlane/openlane-ui, pull requests merged in 2024-12, with the labels that each got.

#92 Dark Mode Updates
  apps/console/src/app/globals.css
  apps/console/src/app/layout.tsx
  apps/console/src/components/pages/protected/questionnaire/questionnaire-editor.tsx
  apps/console/src/components/pages/protected/questionnaire/theme-dark.tsx
  apps/console/src/components/shared/header/header.styles.tsx
  apps/console/src/components/shared/loading/loading.styles.tsx
  apps/console/src/components/shared/organization-selector/organization-selector.styles.tsx
  apps/console/src/components/shared/organization-selector/organization-selector.tsx
  apps/console/src/components/shared/sidebar/sidebar-nav/sidebar-nav.styles.tsx
  apps/console/src/components/shared/sidebar/sidebar.styles.tsx
  apps/storybook/package.json
  packages/tailwind-config/tailwind.config.ts
  packages/ui/src/avatar/avatar.styles.tsx
  packages/ui/src/button/button.styles.tsx
  packages/ui/src/dialog/dialog.styles.tsx
  packages/ui/src/dropdown-menu/dropdown-menu.styles.tsx
  packages/ui/src/form/form.styles.tsx
  packages/ui/src/icons/chevron-down.tsx
  packages/ui/src/input/input.styles.tsx
  packages/ui/src/panel/panel.styles.tsx
  packages/ui/src/select/select.styles.tsx
  packages/ui/src/slider/slider.styles.ts
  packages/ui/src/table/table.styles.tsx
  packages/ui/src/tabs/tabs.styles.tsx
  packages/ui/src/toast/toast.styles.tsx
Labels: style

#97 add pirsch script
  apps/console/src/app/layout.tsx
  packages/dally/src/index.ts
Labels: enhancement

#100 Update CODEOWNERS
  .github/CODEOWNERS
Labels: ci
