Repository theopenlane/openlane-ui, pull requests merged in 2025-01, with the labels that each got.

#120 deps bump, update sidebar nav, remove id from search result
  apps/console/package.json
  apps/console/src/app/(protected)/groups/all-groups/loading.tsx
  apps/console/src/app/(protected)/groups/all-groups/page.tsx
  apps/console/src/app/(protected)/groups/my-groups/loading.tsx
  apps/console/src/app/(protected)/groups/my-groups/page.tsx
  apps/console/src/app/(protected)/questionnaires/loading.tsx
  apps/console/src/app/(protected)/questionnaires/page.tsx
  apps/console/src/app/(protected)/questionnaires/questionnaire-editor/loading.tsx
  apps/console/src/app/(protected)/questionnaires/questionnaire-editor/page.tsx
  apps/console/src/app/(protected)/questionnaires/questionnaire-viewer/loading.tsx
  apps/console/src/app/(protected)/questionnaires/questionnaire-viewer/page.tsx
  apps/console/src/app/(protected)/tasks/all-tasks/loading.tsx
  apps/console/src/app/(protected)/tasks/all-tasks/page.tsx
  apps/console/src/app/(protected)/tasks/assigned-tasks/loading.tsx
  apps/console/src/app/(protected)/tasks/assigned-tasks/page.tsx
  apps/console/src/components/pages/protected/dashboard/dashboard.tsx
  apps/console/src/components/pages/protected/questionnaire/actions/actions.tsx
  apps/console/src/components/pages/protected/questionnaire/create.tsx
  apps/console/src/components/pages/protected/questionnaire/questionnaire-editor.tsx
  apps/console/src/components/pages/protected/questionnaire/questionnaire-viewer.tsx
  apps/console/src/components/pages/protected/questionnaire/templates.tsx
  apps/console/src/components/shared/search/search.styles.tsx
  apps/console/src/components/shared/search/search.tsx
  apps/console/src/components/shared/sidebar/sidebar-nav/sidebar-nav.tsx
  apps/console/src/routes/dashboard.tsx
  apps/storybook/package.json
  bun.lockb
  package.json
  packages/codegen/package.json
  packages/tailwind-config/package.json
  packages/tailwind-config/tailwind.config.ts
  packages/ui/package.json
Labels: enhancement

#140 remove unused sonar config, license, taskfile
  .pre-commit-config.yaml
  LICENSE
  Taskfile.yaml
  sonar-project.properties
Labels: enhancement, local-development

#145 Feat billing design changes
  apps/console/src/app/(protected)/dashboard/page.tsx
  apps/console/src/components/pages/protected/dashboard/dashboard.tsx
  apps/console/src/components/pages/protected/organization/billing/billing-contract-dialog.tsx
  apps/console/src/components/pages/protected/organization/billing/billing-email-dialog.tsx
  apps/console/src/components/pages/protected/organization/billing/billing-settings.tsx
  apps/console/src/components/pages/protected/organization/billing/pricing-plan.tsx
  packages/ui/src/badge/badge.tsx
Labels: enhancement

#146 Feat user profile
  .pre-commit-config.yaml
  apps/console/src/app/(protected)/user-settings/profile/page.tsx
  apps/console/src/components/pages/protected/developers/personal-access-token-form.tsx
  apps/console/src/components/pages/protected/policies/actions/actions.tsx
  apps/console/src/components/pages/protected/procedures/actions/actions.tsx
  apps/console/src/components/pages/protected/profile/user-settings/default-org-form.tsx
  apps/console/src/components/pages/protected/profile/user-settings/profile-name-form.tsx
  apps/console/src/components/pages/protected/profile/user-settings/profile-page.tsx
  apps/console/src/components/shared/user-menu/user-menu.tsx
  apps/console/src/lib/auth/auth.ts
  apps/console/src/lib/auth/providers/credentials.ts
  packages/codegen/query/user.graphql
  packages/codegen/src/schema.ts
Labels: enhancement

#148 Feat role actions on members table
  apps/console/src/components/pages/protected/organization/members/actions/member-actions.tsx
  apps/console/src/components/pages/protected/organization/members/members-table.tsx
Labels: enhancement

#149 Feat removing billing email from org
  apps/console/src/app/(protected)/organization-settings/general-settings/page.tsx
Labels: enhancement

#152 Feat await gql client
  apps/console/src/app/providers.tsx
  apps/console/src/middleware.ts
Labels: enhancement

#153 Feat debounce search
  apps/console/src/components/shared/search/search.tsx
Labels: enhancement

#150 Feat personal token redesign
  apps/console/src/app/(protected)/organization-settings/developers/page.tsx
  apps/console/src/app/(protected)/user-settings/developers/page.tsx
  apps/console/src/components/pages/protected/developers/actions/pat-actions.tsx
  apps/console/src/components/pages/protected/developers/actions/token-actions.tsx
  apps/console/src/components/pages/protected/developers/api-token-form-styles.tsx
  apps/console/src/components/pages/protected/developers/api-token-form.tsx
  apps/console/src/components/pages/protected/developers/api-tokens-table.tsx
  apps/console/src/components/pages/protected/developers/developers-organization-page.tsx
  apps/console/src/components/pages/protected/developers/developers-user-page.tsx
  apps/console/src/components/pages/protected/developers/personal-access-token-create-dialog.tsx
  apps/console/src/components/pages/protected/developers/personal-access-token-form-styles.tsx
  apps/console/src/components/pages/protected/developers/personal-access-token-form.tsx
  apps/console/src/components/pages/protected/developers/personal-access-tokens-table-styles.tsx
  apps/console/src/components/pages/protected/developers/personal-access-tokens-table.tsx
  packages/ui/src/data-table/data-table.tsx
  packages/ui/src/dialog/dialog.tsx
  packages/ui/src/input/input.tsx
Labels: enhancement

#163 data-table redesign
  apps/console/src/components/pages/protected/developers/developers-user-page.tsx
  packages/ui/src/data-table/data-table.tsx
  packages/ui/src/table/table-styles.tsx
  packages/ui/src/table/table.styles.tsx
  packages/ui/src/table/table.tsx
Labels: enhancement

#169 bug: subscriber verify should not require auth
  apps/console/src/app/providers.tsx
  apps/console/src/middleware.ts
Labels: bug

#175 multiple select component and story
  packages/ui/src/multiple-selector/multiple-selector.stories.tsx
  packages/ui/src/multiple-selector/multiple-selector.tsx
Labels: enhancement

#176 generate types for codegen
  apps/console/src/components/pages/protected/organization/general-settings/organization-name-form.tsx
  apps/console/src/components/pages/protected/profile/user-settings/profile-page.tsx
  apps/console/src/components/shared/avatar-upload/avatar-upload.tsx
  bun.lockb
  packages/codegen/graphql-codegen.yml
  packages/codegen/package.json
  packages/codegen/src/schema.ts
Labels: enhancement

#178 sheet component added
  packages/ui/package.json
  packages/ui/src/sheet/sheet.stories.tsx
  packages/ui/src/sheet/sheet.tsx
Labels: enhancement
