Repository theopenlane/openlane-ui, pull requests merged in 2025-06, with the labels that each got.

#516 Disable future date selection when creating an evidence
  apps/console/src/components/pages/protected/evidence/evidence-create-form.tsx
  packages/ui/src/calendar-popover/calendar-popover.tsx
Labels: bug

#521 verify and resend verify
  apps/console/src/app/(auth)/resend-verify/page.styles.tsx
  apps/console/src/components/pages/auth/resend-verify/resend.styles.ts
  apps/console/src/components/pages/auth/resend-verify/resend.tsx
  apps/console/src/components/pages/auth/verify/page.styles.tsx
  apps/console/src/components/pages/auth/verify/verifier.tsx
Labels: enhancement

#522 revert disabled logic and keep evidence form accepting only future dates
  apps/console/src/components/pages/protected/evidence/evidence-create-form.tsx
  packages/ui/src/calendar-popover/calendar-popover.tsx
Labels: bug

#518 Feat replace firstname lastname
  apps/console/src/app/(protected)/tasks/page.tsx
  apps/console/src/components/pages/protected/groups/components/dialogs/add-members-dialog.tsx
  apps/console/src/components/pages/protected/groups/components/dialogs/create-group-dialog.tsx
  apps/console/src/components/pages/protected/groups/components/groups-cards.tsx
  apps/console/src/components/pages/protected/groups/components/groups-members-table.tsx
  apps/console/src/components/pages/protected/groups/components/groups-table.tsx
  apps/console/src/components/pages/protected/profile/user-settings/profile-page.tsx
  apps/console/src/components/pages/protected/program/nodes.tsx
  apps/console/src/components/pages/protected/tasks/create-task/form/create-task-form.tsx
  apps/console/src/components/pages/protected/tasks/create-task/sidebar/task-details-sheet.tsx
  apps/console/src/components/pages/protected/tasks/table/tasks-page.tsx
  apps/console/src/components/shared/avatar/avatar.tsx
  apps/console/src/components/shared/user-chip/user-chip.tsx
  apps/console/src/components/shared/user-menu/user-menu.tsx
  packages/codegen/query/group.ts
  packages/codegen/query/member.ts
  packages/codegen/query/organization.ts
  packages/codegen/query/programs.ts
  packages/codegen/query/tasks.ts
  packages/codegen/query/user.ts
  packages/codegen/src/schema.ts
Labels: enhancement

#524 cancel edit on programs
  apps/console/src/components/pages/protected/dashboard/basic-info.tsx
  apps/console/src/components/pages/protected/dashboard/timeline-readiness.tsx
Labels: enhancement

#528 update control implementation details field header
  apps/console/src/components/pages/protected/controls/control-implementation/form/create-control-implementation-form.tsx
  apps/console/src/components/pages/protected/controls/properties-card.tsx
Labels: enhancement

#530 authentication setings
  apps/console/src/app/(protected)/organization-settings/authentication/loading.tsx
  apps/console/src/app/(protected)/organization-settings/authentication/page.tsx
  apps/console/src/components/pages/protected/organization/authentication/allowed-domains.tsx
  apps/console/src/lib/graphql-hooks/organization.ts
  apps/console/src/routes/dashboard.tsx
  packages/codegen/query/organization.ts
  packages/codegen/query/user.ts
  packages/codegen/src/schema.ts
Labels: enhancement

#529 redesign sub verify
  apps/console/src/app/(protected)/standards/page.tsx
  apps/console/src/assets/Triangle.tsx
  apps/console/src/components/layouts/auth/auth.styles.tsx
  apps/console/src/components/layouts/auth/auth.tsx
  apps/console/src/components/pages/auth/subscriber-verify/page.styles.tsx
  apps/console/src/components/pages/auth/subscriber-verify/verifier.tsx
  apps/console/src/constants/index.ts
Labels: enhancement

#541 tasks search
  apps/console/src/components/pages/protected/tasks/table/task-table-toolbar.tsx
  apps/console/src/components/pages/protected/tasks/table/tasks-page.tsx
Labels: enhancement

#542 unarchive logic for control objective
  apps/console/src/components/pages/protected/controls/control-objectives/control-objective-page.tsx
  apps/console/src/components/pages/protected/controls/control-objectives/link-controls-modal.tsx
  apps/console/src/components/shared/objectAssociation/object-assoiation-config.ts
Labels: enhancement

#549 Feat groups cleanup
  apps/console/src/components/pages/protected/groups/components/dialogs/assign-permissions-dialog.tsx
  apps/console/src/components/pages/protected/groups/components/group-details-sheet.tsx
  apps/console/src/components/pages/protected/groups/components/groups-cards.tsx
  apps/console/src/components/pages/protected/groups/components/groups-delete-permissions-table.tsx
  apps/console/src/components/pages/protected/groups/components/groups-permissions-table.tsx
  apps/console/src/components/pages/protected/groups/components/groups-table.tsx
  apps/console/src/components/pages/protected/tasks/cards/task-cards.tsx
  apps/console/src/components/pages/protected/tasks/table/tasks-table.tsx
  apps/console/src/constants/groups.ts
  apps/console/src/constants/groups.tsx
  apps/console/src/hooks/useSmartRouter.ts
  packages/codegen/query/control-implementation.ts
  packages/codegen/query/control.ts
  packages/codegen/query/group.ts
  packages/codegen/src/schema.ts
Labels: enhancement

#576 Column icon misaligned on groups page
  apps/console/src/components/pages/protected/groups/groups-page.tsx
Labels: enhancement

#577 search redesign, refactor and more
  apps/console/src/components/shared/search/search-config.tsx
  apps/console/src/components/shared/search/search.styles.tsx
  apps/console/src/components/shared/search/search.tsx
  apps/console/src/components/shared/search/useSearchHistory.ts
  apps/console/src/lib/graphql-hooks/search.ts
  apps/console/src/types/index.tsx
  packages/tailwind-config/tailwind.config.ts
  packages/ui/src/dialog/dialog.tsx
  packages/ui/src/styles.css
Labels: enhancement

#584 Renewal date should be able to be set before default
  packages/ui/src/calendar-popover/calendar-popover.tsx
Labels: enhancement

#578 Create New Program: (i) in Form: Click behavior
  apps/console/src/components/pages/protected/program/wizard/step-1-init.tsx
Labels: enhancement

#591 Organization page doesn't load existing orgs
  apps/console/src/components/shared/header/header.tsx
  apps/console/src/components/shared/organization/existing-organizations/existing-organizations.tsx
Labels: enhancement

#589 Org Switcher should close after selecting
  apps/console/src/components/shared/organization-selector/organization-selector.tsx
Labels: enhancement

#597 Invitation token not persisted to sign up page
  apps/console/src/components/pages/auth/login/login.tsx
Labels: bug

#594 Program Wizard - formatting
  apps/console/src/components/pages/protected/program/wizard/step-1-init.tsx
  apps/console/src/components/pages/protected/program/wizard/step-2-details.tsx
Labels: enhancement

#598 Confirm Delete dialogs
  apps/console/src/app/(protected)/controls/[id]/[subcontrolId]/page.tsx
  apps/console/src/app/(protected)/controls/[id]/page.tsx
  apps/console/src/components/pages/programs/settings/danger-zone/program-settings-danger-zone.tsx
  apps/console/src/components/pages/programs/settings/groups/program-settings-groups.tsx
  apps/console/src/components/pages/programs/settings/users/program-settings-users.tsx
  apps/console/src/components/pages/protected/controls/control-evidence/control-evidence-files.tsx
  apps/console/src/components/pages/protected/controls/control-evidence/evidence-details-sheet.tsx
  apps/console/src/components/pages/protected/controls/delete-control-dialog.tsx
  apps/console/src/components/pages/protected/controls/delete-subcontrol-dialog.tsx
  apps/console/src/components/pages/protected/developers/actions/pat-actions.tsx
  apps/console/src/components/pages/protected/developers/table/personal-access-tokens-table.tsx
  apps/console/src/components/pages/protected/organization/general-settings/organization-delete.tsx
  apps/console/src/components/pages/protected/organization/members/actions/member-actions.tsx
  apps/console/src/components/pages/protected/organization/members/members-table.tsx
  apps/console/src/components/pages/protected/organization/subscribers/actions/subscriber-actions.tsx
  apps/console/src/components/pages/protected/policies/view/view-policy-page.tsx
  apps/console/src/components/pages/protected/procedures/view/view-procedure-page.tsx
  apps/console/src/components/pages/protected/risks/view/view-risks-page.tsx
  apps/console/src/components/pages/protected/tasks/create-task/dialog/delete-task-dialog.tsx
  packages/ui/src/alert-dialog/alert-dialog.tsx
  packages/ui/src/confirmation-dialog/confirmation-dialog.tsx
Labels: enhancement

#601 Rearange fields for program create step 1
  apps/console/src/components/pages/protected/program/wizard/step-1-init.tsx
Labels: enhancement

#606 bug: fix reinstall command to ensure correct turbo version
  Taskfile.yaml
  bun.lock
  package.json
Labels: local-development

#600 Feat map controls
  apps/console/src/app/(protected)/map-controls/loading.tsx
  apps/console/src/app/(protected)/map-controls/page.tsx
  apps/console/src/assets/Drag.tsx
  apps/console/src/assets/Equals.tsx
  apps/console/src/assets/Intersection.tsx
  apps/console/src/assets/Partial.tsx
  apps/console/src/assets/Subset.tsx
  apps/console/src/assets/SupersetDark.tsx
  apps/console/src/assets/SupersetLight .tsx
  apps/console/src/components/pages/protected/controls/associated-objects-accordion.tsx
  apps/console/src/components/pages/protected/map-controls/map-control-categories-accordion.tsx
  apps/console/src/components/pages/protected/map-controls/map-control-frameworks-accordion.tsx
  apps/console/src/components/pages/protected/map-controls/map-control-results.tsx
  apps/console/src/components/pages/protected/map-controls/map-controls-card.tsx
  apps/console/src/components/pages/protected/map-controls/map-controls-form-filters.tsx
  apps/console/src/components/pages/protected/map-controls/map-controls-relations.tsx
  apps/console/src/components/pages/protected/map-controls/matched-controls.tsx
  apps/console/src/components/pages/protected/map-controls/shared/control-chip.tsx
  apps/console/src/components/pages/protected/map-controls/use-form-schema.tsx
  apps/console/src/components/pages/protected/overview/my-task.tsx
  apps/console/src/components/shared/relations-accordion-trigger.tsx/relations-accordion-trigger.tsx
  apps/console/src/components/shared/slider/slider.tsx
  apps/console/src/lib/graphql-hooks/controls.ts
  apps/console/src/lib/graphql-hooks/mapped-control.tsx
  apps/console/src/lib/graphql-hooks/standards.ts
  apps/console/src/lib/graphql-hooks/subcontrol.ts
  packages/codegen/query/control.ts
  packages/codegen/query/mapped-control.ts
  packages/codegen/query/standards.ts
  packages/codegen/query/subcontrol.ts
  packages/codegen/src/schema.ts
Labels: enhancement

#620 Controls category and subcategory filters
  apps/console/src/components/pages/protected/controls/table/table-config.ts
Labels: enhancement

#632 edit map control
  apps/console/src/app/(protected)/controls/[id]/[subcontrolId]/edit-map-control/loading.tsx
  apps/console/src/app/(protected)/controls/[id]/[subcontrolId]/edit-map-control/page.tsx
  apps/console/src/app/(protected)/controls/[id]/[subcontrolId]/map-control/page.tsx
  apps/console/src/app/(protected)/controls/[id]/[subcontrolId]/page.tsx
  apps/console/src/app/(protected)/controls/[id]/edit-map-control/loading.tsx
  apps/console/src/app/(protected)/controls/[id]/edit-map-control/page.tsx
  apps/console/src/app/(protected)/controls/[id]/map-control/loading.tsx
  apps/console/src/app/(protected)/controls/[id]/map-control/page.tsx
  apps/console/src/components/pages/protected/controls/edit-map-control/edit-map-control-page.tsx
  apps/console/src/components/pages/protected/controls/map-controls/map-control-categories-accordion.tsx
  apps/console/src/components/pages/protected/controls/map-controls/map-control-frameworks-accordion.tsx
  apps/console/src/components/pages/protected/controls/map-controls/map-control-page.tsx
  apps/console/src/components/pages/protected/controls/map-controls/map-control-results.tsx
  apps/console/src/components/pages/protected/controls/map-controls/map-controls-card.tsx
  apps/console/src/components/pages/protected/controls/map-controls/map-controls-form-filters.tsx
  apps/console/src/components/pages/protected/controls/map-controls/map-controls-relations.tsx
  apps/console/src/components/pages/protected/controls/map-controls/matched-controls.tsx
  apps/console/src/components/pages/protected/controls/map-controls/shared/control-chip.tsx
  apps/console/src/components/pages/protected/controls/map-controls/use-form-schema.tsx
  apps/console/src/components/pages/protected/controls/mapped-relationships-sheet.tsx
  apps/console/src/components/pages/protected/controls/related-controls.tsx
  apps/console/src/lib/graphql-hooks/mapped-control.tsx
  packages/codegen/query/mapped-control.ts
  packages/codegen/src/schema.ts
Labels: enhancement

#640 questionnaires
  apps/console/src/components/pages/protected/overview/questionnaire.tsx
Labels: enhancement

#641 subcontrol breadcrumb
  apps/console/src/app/(protected)/controls/[id]/[subcontrolId]/page.tsx
Labels: enhancement

#642 tooltips for map controls
  apps/console/src/components/pages/protected/controls/map-controls/map-controls-relations.tsx
Labels: enhancement

#645 categories and subcategories creatable
  apps/console/src/components/pages/protected/controls/map-controls/map-control-categories-accordion.tsx
  apps/console/src/components/pages/protected/controls/map-controls/map-controls-form-filters.tsx
  apps/console/src/components/pages/protected/controls/properties-card.tsx
  apps/console/src/lib/graphql-hooks/controls.ts
Labels: enhancement

#656 Table font bg and separator
  packages/ui/src/styles.css
  packages/ui/src/table/table-styles.tsx
Labels: enhancement

#652 Feat add controls from catalog update
  apps/console/src/components/pages/protected/standards/add-to-organization-dialog.tsx
Labels: enhancement

#658 Feat multiselect map controls
  apps/console/src/components/pages/protected/controls/edit-map-control/edit-map-control-page.tsx
  apps/console/src/components/pages/protected/controls/map-controls/map-control-categories-accordion.tsx
  apps/console/src/components/pages/protected/controls/map-controls/map-control-frameworks-accordion.tsx
  apps/console/src/components/pages/protected/controls/map-controls/map-control-page.tsx
  apps/console/src/components/pages/protected/controls/map-controls/map-control-results.tsx
  apps/console/src/components/pages/protected/controls/map-controls/map-controls-card.tsx
  apps/console/src/components/pages/protected/controls/map-controls/map-controls-relations.tsx
  apps/console/src/components/pages/protected/controls/map-controls/matched-controls.tsx
  apps/console/src/components/pages/protected/controls/map-controls/shared/control-chip.tsx
  apps/console/src/components/pages/protected/controls/map-controls/shared/use-selectable-controls.ts
  apps/console/src/components/shared/context-menu/context-menu.tsx
  apps/console/src/types/index.tsx
  packages/codegen/query/control.ts
  packages/codegen/query/mapped-control.ts
  packages/codegen/query/subcontrol.ts
  packages/codegen/src/schema.ts
Labels: enhancement
