Repository theopenlane/openlane-ui, pull requests merged in 2025-05, with the labels that each got.

#394 feat: add date functions for consistency
  .pre-commit-config.yaml
  Taskfile.yaml
  apps/console/package.json
  apps/console/src/app/(protected)/programs/page.tsx
  apps/console/src/app/(protected)/standards/page.tsx
  apps/console/src/components/pages/auth/password-reset/page.tsx
  apps/console/src/components/pages/auth/subscribe/subscribe.tsx
  apps/console/src/components/pages/programs/programs-tasks-table.tsx
  apps/console/src/components/pages/protected/controls/authority-card.tsx
  apps/console/src/components/pages/protected/controls/control-evidence-table.tsx
  apps/console/src/components/pages/protected/dashboard/basic-info.tsx
  apps/console/src/components/pages/protected/developers/table/personal-access-tokens-table.tsx
  apps/console/src/components/pages/protected/evidence/upload/existing-files-tab.tsx
  apps/console/src/components/pages/protected/groups/components/groups-cards.tsx
  apps/console/src/components/pages/protected/organization/members/members-table.tsx
  apps/console/src/components/pages/protected/organization/members/table/columns.tsx
  apps/console/src/components/pages/protected/policies/create/cards/status-card.tsx
  apps/console/src/components/pages/protected/policies/table/columns.tsx
  apps/console/src/components/pages/protected/policies/table/policies-table.tsx
  apps/console/src/components/pages/protected/policies/view/cards/historical-card.tsx
  apps/console/src/components/pages/protected/policies/view/cards/properties-card.tsx
  apps/console/src/components/pages/protected/procedures/create/cards/status-card.tsx
  apps/console/src/components/pages/protected/procedures/table/columns.tsx
  apps/console/src/components/pages/protected/procedures/table/procedures-table.tsx
  apps/console/src/components/pages/protected/procedures/view/cards/historical-card.tsx
  apps/console/src/components/pages/protected/procedures/view/cards/properties-card.tsx
  apps/console/src/components/pages/protected/questionnaire/table/columns.tsx
  apps/console/src/components/pages/protected/tasks/cards/task-cards.tsx
  apps/console/src/components/pages/protected/tasks/create-task/sidebar/task-details-sheet.tsx
  apps/console/src/components/pages/protected/tasks/table/columns.tsx
  apps/console/src/components/pages/protected/tasks/table/tasks-page.tsx
  apps/console/src/components/shared/comments/CommentList.tsx
  apps/console/src/utils/date.test.ts
  apps/console/src/utils/date.ts
  bun.lockb
  packages/ui/lib/chartUtils.tsx
  packages/ui/src/components/plate-ui/comment.tsx
Labels: local-development

#395 feat: passkey without entering email
  apps/console/src/app/(auth)/unsubscribe/layout.tsx
  apps/console/src/components/pages/auth/login/login.styles.tsx
  apps/console/src/components/pages/auth/login/login.tsx
  apps/console/src/components/pages/auth/signup/signup.styles.tsx
  apps/console/src/components/pages/auth/signup/signup.tsx
  apps/console/src/components/pages/protected/profile/user-settings/profile-name-form.tsx
  apps/console/src/components/pages/protected/profile/user-settings/profile-page.tsx
Labels: enhancement

#400 default fitler take 1
  apps/console/src/components/pages/programs/programs-tasks-table.tsx
  apps/console/src/components/pages/protected/tasks/cards/task-infinite-cards.tsx
  apps/console/src/components/pages/protected/tasks/table/tasks-page.tsx
  apps/console/src/components/pages/protected/tasks/table/tasks-table.tsx
  apps/console/src/components/shared/table-filter/table-filter.tsx
  apps/console/src/types/index.tsx
Labels: enhancement

#401 filter logic improvement + error fixes
  apps/console/src/app/(protected)/risks/page.tsx
  apps/console/src/app/(protected)/standards/page.tsx
  apps/console/src/components/pages/protected/controls/mapped-categories-dialog.tsx
  apps/console/src/components/pages/protected/controls/table/controls-table.tsx
  apps/console/src/components/pages/protected/developers/personal-access-token-create-dialog.tsx
  apps/console/src/components/pages/protected/developers/table/personal-access-tokens-table.tsx
  apps/console/src/components/pages/protected/groups/components/group-infinite-cards.tsx
  apps/console/src/components/pages/protected/groups/components/groups-table.tsx
  apps/console/src/components/pages/protected/groups/groups-page.tsx
  apps/console/src/components/pages/protected/organization/members/table/organization-invites-table.tsx
  apps/console/src/components/pages/protected/organization/subscribers/page.styles.tsx
  apps/console/src/components/pages/protected/organization/subscribers/table/columns.tsx
  apps/console/src/components/pages/protected/organization/subscribers/table/subscribers-table.tsx
  apps/console/src/components/pages/protected/policies/table/policies-table.tsx
  apps/console/src/components/pages/protected/procedures/table/procedures-table.tsx
  apps/console/src/components/pages/protected/questionnaire/table/questionnaire-table.tsx
  apps/console/src/lib/graphql-hooks/controls.ts
  apps/console/src/lib/graphql-hooks/organization.ts
  apps/console/src/lib/graphql-hooks/policy.ts
  apps/console/src/lib/graphql-hooks/procedures.ts
  apps/console/src/lib/graphql-hooks/risks.ts
  apps/console/src/lib/graphql-hooks/standards.ts
  apps/console/src/lib/graphql-hooks/subscribes.ts
  apps/console/src/lib/graphql-hooks/templates.ts
  apps/console/src/lib/graphql-hooks/tokens.ts
  bun.lockb
Labels: enhancement

#402 fix: breaking change to backend for account roles
  apps/console/src/lib/authz/utils.ts
Labels: enhancement, breaking-change

#413 remove table actions and add them to view pages
  apps/console/src/app/(protected)/questionnaires/questionnaire-viewer/page.tsx
  apps/console/src/components/pages/protected/policies/table/actions/actions.tsx
  apps/console/src/components/pages/protected/policies/table/columns.tsx
  apps/console/src/components/pages/protected/policies/table/policies-table.tsx
  apps/console/src/components/pages/protected/policies/view/view-policy-page.tsx
  apps/console/src/components/pages/protected/procedures/table/actions/actions.tsx
  apps/console/src/components/pages/protected/procedures/table/columns.tsx
  apps/console/src/components/pages/protected/procedures/view/view-procedure-page.tsx
  apps/console/src/components/pages/protected/questionnaire/actions/actions.tsx
  apps/console/src/components/pages/protected/questionnaire/table/columns.tsx
  bun.lockb
Labels: enhancement

#409 tables improvements
  apps/console/src/app/(protected)/questionnaires/questionnaire-viewer/page.tsx
  apps/console/src/components/pages/protected/developers/actions/pat-actions.tsx
  apps/console/src/components/pages/protected/organization/subscribers/actions/subscriber-actions.tsx
  apps/console/src/components/pages/protected/organization/subscribers/table/subscribers-table-toolbar.tsx
  apps/console/src/components/pages/protected/organization/subscribers/table/subscribers-table.tsx
  apps/console/src/components/pages/protected/overview/questionnaire.tsx
  apps/console/src/components/pages/protected/policies/table/actions/actions.tsx
  apps/console/src/components/pages/protected/policies/table/columns.tsx
  apps/console/src/components/pages/protected/policies/table/policies-table.tsx
  apps/console/src/components/pages/protected/policies/view/view-policy-page.tsx
  apps/console/src/components/pages/protected/procedures/table/actions/actions.tsx
  apps/console/src/components/pages/protected/procedures/table/columns.tsx
  apps/console/src/components/pages/protected/procedures/view/view-procedure-page.tsx
  apps/console/src/components/pages/protected/questionnaire/actions/actions.tsx
  apps/console/src/components/pages/protected/questionnaire/table/columns.tsx
  apps/console/src/components/pages/protected/questionnaire/table/questionnaire-table.tsx
  bun.lockb
Labels: enhancement

#407 redesign header
  apps/console/src/app/(protected)/organization/page.tsx
  apps/console/src/components/shared/breadcrumb-nav/breadcrumb.tsx
  apps/console/src/components/shared/header/header.styles.tsx
  apps/console/src/components/shared/header/header.tsx
  apps/console/src/components/shared/organization-selector/organization-selector.styles.tsx
  apps/console/src/components/shared/organization-selector/organization-selector.tsx
  apps/console/src/components/shared/organization/existing-organizations/existing-organizations.tsx
  apps/console/src/components/shared/sidebar/sidebar.styles.tsx
  apps/console/src/lib/graphql-hooks/organization.ts
  bun.lockb
  packages/codegen/query/organization.ts
  packages/codegen/src/schema.ts
  packages/ui/src/input/input.stories.tsx
Labels: enhancement

#424 update wording
  apps/console/src/components/pages/auth/login/login.tsx
Labels: bug

#425 update data table styles, fix risk status, display name
  apps/console/src/app/(protected)/risks/page.tsx
  apps/console/src/components/pages/protected/controls/table/controls-table.tsx
  apps/console/src/components/pages/protected/policies/table/columns.tsx
  apps/console/src/components/pages/protected/policies/table/table-config.ts
  apps/console/src/components/pages/protected/procedures/table/columns.tsx
  apps/console/src/components/pages/protected/procedures/table/table-config.ts
  apps/console/src/components/pages/protected/questionnaire/table/columns.tsx
  apps/console/src/components/pages/protected/tasks/cards/task-cards.tsx
  apps/console/src/components/pages/protected/tasks/table/assignee-cell.tsx
  apps/console/src/components/pages/protected/tasks/table/columns.tsx
  apps/console/src/components/shared/objectAssociation/object-association.tsx
  apps/console/src/components/shared/table-filter/table-filter-styles.tsx
  bun.lockb
  packages/ui/src/data-table/data-table.tsx
  packages/ui/src/table/table-styles.tsx
  packages/ui/src/table/table.tsx
Labels: enhancement

#442 controls table cleanup + upcoming tasks bug
  apps/console/src/components/pages/protected/controls/table/controls-table.tsx
  apps/console/src/components/pages/protected/overview/my-task.tsx
Labels: bug

#440 Feat control objectives
  apps/console/src/app/(protected)/controls/[id]/[subcontrolId]/control-objectives/loading.tsx
  apps/console/src/app/(protected)/controls/[id]/[subcontrolId]/control-objectives/page.tsx
  apps/console/src/app/(protected)/controls/[id]/[subcontrolId]/page.tsx
  apps/console/src/app/(protected)/controls/[id]/control-objectives/loading.tsx
  apps/console/src/app/(protected)/controls/[id]/control-objectives/page.tsx
  apps/console/src/app/(protected)/controls/[id]/page.tsx
  apps/console/src/components/pages/protected/controls/control-objectives/control-objective-card.tsx
  apps/console/src/components/pages/protected/controls/control-objectives/control-objective-page.tsx
  apps/console/src/components/pages/protected/controls/control-objectives/create-control-objective-sheet.tsx
  apps/console/src/components/pages/protected/controls/control-objectives/form/create-control-objective-form.tsx
  apps/console/src/components/pages/protected/controls/control-objectives/form/use-form-schema.tsx
  apps/console/src/components/pages/protected/controls/control-objectives/link-controls-modal.tsx
  apps/console/src/components/pages/protected/controls/details.tsx
  apps/console/src/components/pages/protected/controls/implementation-details-card.tsx
  apps/console/src/components/shared/breadcrumb-nav/breadcrumb.tsx
  apps/console/src/components/shared/objectAssociation/object-association.tsx
  apps/console/src/lib/graphql-hooks/control-objectives.ts
  bun.lockb
  packages/codegen/query/control-objective.ts
  packages/codegen/src/schema.ts
  packages/tailwind-config/tailwind.config.ts
Labels: enhancement

#450 program wizzard improvements
  apps/console/src/components/pages/protected/program/wizard.tsx
  apps/console/src/components/pages/protected/program/wizard/step-1-init.tsx
Labels: enhancement

#452 create task from controls
  apps/console/src/app/(protected)/controls/[id]/[subcontrolId]/page.tsx
  apps/console/src/app/(protected)/controls/[id]/page.tsx
  apps/console/src/components/pages/protected/tasks/create-task/dialog/create-task-dialog.tsx
  apps/console/src/components/pages/protected/tasks/create-task/form/create-task-form.tsx
  apps/console/src/components/pages/protected/tasks/create-task/sidebar/task-details-sheet.tsx
  apps/console/src/components/pages/protected/tasks/hooks/use-form-schema.ts
  apps/console/src/components/shared/objectAssociation/object-assoiation-config.ts
  apps/console/src/lib/graphql-hooks/tasks.ts
Labels: enhancement

#456 filtering public standards on object associations
  apps/console/src/components/shared/objectAssociation/object-association.tsx
  apps/console/src/components/shared/objectAssociation/object-assoiation-config.ts
Labels: enhancement

#460 object association improvements
  apps/console/src/components/shared/objectAssociation/object-association-table.tsx
  apps/console/src/components/shared/objectAssociation/object-association.tsx
  apps/console/src/components/shared/objectAssociation/object-assoiation-config.ts
  packages/codegen/query/subcontrol.ts
  packages/codegen/src/schema.ts
  packages/ui/src/data-table/data-table.tsx
Labels: enhancement

#466 truncate long group names, add tooltip for visibility
  apps/console/src/components/pages/protected/controls/authority-card.tsx
  apps/console/src/components/pages/protected/policies/view/cards/authority-card.tsx
  apps/console/src/components/pages/protected/procedures/view/cards/authority-card.tsx
Labels: enhancement

#467 try adding cors mode to download
  apps/console/src/components/shared/lib/export.ts
Labels: bug

#479 fixing billing expires date
  apps/console/src/components/pages/protected/organization/billing/pricing-plan.tsx
Labels: enhancement

#480 feat: don't line wrap long program names
  apps/console/src/app/(protected)/dashboard/page.tsx
  apps/console/src/app/(protected)/programs/page.tsx
Labels: enhancement

#485 Fix multiple rerenders because of state changes
  apps/console/src/components/pages/protected/groups/components/dialogs/add-members-dialog.tsx
Labels: bug

#494 control implementations improvemens
  apps/console/src/components/pages/protected/controls/control-implementation/control-implementation-page.tsx
  apps/console/src/components/pages/protected/controls/control-implementation/form/create-control-implementation-form.tsx
Labels: enhancement

#498 redesign subscribers light mode
  apps/console/src/components/pages/auth/subscriber-verify/page.styles.tsx
  apps/console/src/components/pages/auth/subscriber-verify/verifier.tsx
Labels: enhancement

#500 Feat control create
  apps/console/src/app/(protected)/controls/[id]/create-subcontrol/loading.tsx
  apps/console/src/app/(protected)/controls/[id]/create-subcontrol/page.tsx
  apps/console/src/app/(protected)/controls/[id]/page.tsx
  apps/console/src/app/(protected)/controls/create-control/loading.tsx
  apps/console/src/app/(protected)/controls/create-control/page.tsx
  apps/console/src/app/(protected)/controls/create-subcontrol/loading.tsx
  apps/console/src/app/(protected)/controls/create-subcontrol/page.tsx
  apps/console/src/components/pages/protected/controls/authority-card.tsx
  apps/console/src/components/pages/protected/controls/create-control/create-control-form.tsx
  apps/console/src/components/pages/protected/controls/create-control/use-form-schema.tsx
  apps/console/src/components/pages/protected/controls/mapped-categories-dialog.tsx
  apps/console/src/components/pages/protected/controls/properties-card.tsx
  apps/console/src/components/pages/protected/controls/table/controls-table-toolbar.tsx
  apps/console/src/components/shared/breadcrumb-nav/breadcrumb.tsx
  apps/console/src/lib/graphql-hooks/controls.ts
  apps/console/src/lib/graphql-hooks/subcontrol.ts
  packages/codegen/query/control.ts
  packages/codegen/query/subcontrol.ts
  packages/codegen/src/schema.ts
Labels: enhancement

#504 standards - add to organization
  apps/console/src/components/pages/protected/standards/add-to-organization-dialog.tsx
  apps/console/src/components/pages/protected/standards/columns.tsx
  apps/console/src/components/pages/protected/standards/standard-details-accordion.tsx
  packages/ui/src/data-table/data-table.tsx
Labels: enhancement

#506 edit control rework permissions
  apps/console/src/app/(protected)/controls/[id]/[subcontrolId]/page.tsx
  apps/console/src/app/(protected)/controls/[id]/page.tsx
  apps/console/src/components/pages/protected/controls/properties-card.tsx
  packages/codegen/query/control.ts
  packages/codegen/query/subcontrol.ts
  packages/codegen/src/schema.ts
Labels: enhancement

#508 tasks refactor
  apps/console/src/components/pages/programs/programs-tasks-table.tsx
  apps/console/src/components/pages/protected/controls/properties-card.tsx
  apps/console/src/components/pages/protected/overview/my-task.tsx
  apps/console/src/components/pages/protected/tasks/cards/task-cards.tsx
  apps/console/src/components/pages/protected/tasks/create-task/sidebar/task-details-sheet.tsx
  apps/console/src/components/pages/protected/tasks/table/tasks-table.tsx
  apps/console/src/utils/getHrefForObjectType.ts
Labels: enhancement
