Repository theopenlane/openlane-ui, pull requests merged in 2025-04, with the labels that each got.

#272 Feat/controls take#2
  apps/console/package.json
  apps/console/src/app/(protected)/controls/[id]/page.tsx
  apps/console/src/app/providers.tsx
  apps/console/src/components/pages/protected/controls/authority-card.tsx
  apps/console/src/components/pages/protected/controls/controls-table.tsx
  apps/console/src/components/pages/protected/controls/form-fields/description-field.tsx
  apps/console/src/components/pages/protected/controls/form-fields/title-field.tsx
  apps/console/src/components/pages/protected/controls/info-card.tsx
  apps/console/src/components/pages/protected/controls/properties-card.tsx
  apps/console/src/components/pages/protected/controls/set-object-association-modal.tsx
  apps/console/src/components/pages/protected/evidence/evidence-create-form-dialog.tsx
  apps/console/src/components/pages/protected/evidence/evidence-create-form.tsx
  apps/console/src/components/pages/protected/evidence/evidence-page.tsx
  apps/console/src/components/pages/protected/evidence/object-association/evidence-object-association-table.tsx
  apps/console/src/components/pages/protected/evidence/object-association/evidence-object-association.tsx
  apps/console/src/components/pages/protected/evidence/object-association/types/TObjectAssociationColumn.ts
  apps/console/src/components/pages/protected/groups/components/group-details-sheet.tsx
  apps/console/src/components/pages/protected/risks/risk-details-sheet.tsx
  apps/console/src/components/pages/protected/tasks/create-task/sidebar/task-details-sheet.tsx
  apps/console/src/components/shared/objectAssociation/object-association-table.tsx
  apps/console/src/components/shared/objectAssociation/object-association.tsx
  apps/console/src/components/shared/objectAssociation/object-assoiation-config.ts
  apps/console/src/components/shared/objectAssociation/types/TObjectAssociationColumn.ts
  apps/console/src/components/shared/objectAssociation/types/TObjectAssociationMap.ts
  bun.lockb
  packages/ui/src/command.tsx
Labels: enhancement

#277 Feat pagination
  apps/console/src/components/pages/protected/controls/controls-table.tsx
  apps/console/src/components/pages/protected/standards/standard-details-accordion.tsx
  apps/console/src/components/shared/objectAssociation/object-association-table.tsx
  apps/console/src/lib/graphql-hooks/controls.ts
  packages/codegen/query/control.ts
  packages/codegen/src/schema.ts
  packages/ui/package.json
  packages/ui/src/data-table/data-table.tsx
  packages/ui/src/pagination/pagination.tsx
  packages/ui/src/pagination/types.ts
Labels: enhancement

#275 control updates
  apps/console/src/app/(protected)/controls/[id]/page.tsx
  apps/console/src/components/pages/protected/controls/info-card.tsx
  apps/console/src/components/pages/protected/controls/mapped-categories-dialog.tsx
  apps/console/src/components/pages/protected/controls/set-mapped-categories-dialog.tsx
Labels: enhancement

#292 Feat search controls
  apps/console/src/components/pages/protected/controls/table/controls-table-toolbar.tsx
  apps/console/src/components/pages/protected/controls/table/controls-table.tsx
  apps/console/src/components/pages/protected/standards/standard-details-accordion.tsx
  apps/console/src/lib/graphql-hooks/controls.ts
  packages/codegen/query/control.ts
  packages/codegen/src/schema.ts
Labels: enhancement

#291 Feat/groups table pagination
  apps/console/src/components/pages/protected/groups/components/groups-table.tsx
  apps/console/src/components/pages/protected/groups/groups-page.tsx
  apps/console/src/components/pages/protected/program/wizard/step-3-team.tsx
  apps/console/src/lib/graphql-hooks/groups.ts
Labels: enhancement

#298 Feat/standard add to program
  apps/console/src/components/pages/protected/standards/standard-details-accordion.tsx
  apps/console/src/lib/graphql-hooks/standards.ts
  packages/codegen/query/standards.ts
  packages/codegen/src/schema.ts
Labels: enhancement

#299 Feature/standard link
  apps/console/src/components/pages/protected/standards/standard-details-card.tsx
Labels: enhancement

#300 Feat/collapse expand accordion
  apps/console/src/components/pages/protected/standards/standard-details-accordion.tsx
Labels: enhancement

#303 search query refactor
  apps/console/src/components/pages/protected/controls/table/controls-table.tsx
  apps/console/src/components/pages/protected/controls/table/table-config.ts
  apps/console/src/components/pages/protected/groups/groups-page.tsx
  apps/console/src/components/pages/protected/organization/subscribers/table/subscribers-table.tsx
  apps/console/src/components/pages/protected/overview/questionnaire.tsx
  apps/console/src/components/pages/protected/policies/table/policies-table.tsx
  apps/console/src/components/pages/protected/procedures/table/procedures-table.tsx
  apps/console/src/components/pages/protected/questionnaire/table/questionnaire-table.tsx
  apps/console/src/components/pages/protected/questionnaire/templates.tsx
  apps/console/src/lib/graphql-hooks/controls.ts
  apps/console/src/lib/graphql-hooks/groups.ts
  apps/console/src/lib/graphql-hooks/policy.ts
  apps/console/src/lib/graphql-hooks/procedures.ts
  apps/console/src/lib/graphql-hooks/subscribes.ts
  apps/console/src/lib/graphql-hooks/templates.ts
  packages/codegen/query/control.ts
  packages/codegen/query/group.ts
  packages/codegen/query/policy.ts
  packages/codegen/query/procedure.ts
  packages/codegen/query/subscribe.ts
  packages/codegen/query/template.ts
  packages/codegen/src/schema.ts
Labels: enhancement

#305 pagiantion sorting filtering
  apps/console/src/app/(protected)/risks/page.tsx
  apps/console/src/app/(protected)/risks/table/risks-table-toolbar.tsx
  apps/console/src/app/(protected)/risks/table/table-config.ts
  apps/console/src/components/pages/protected/overview/risks.tsx
  apps/console/src/lib/graphql-hooks/risks.ts
  packages/codegen/query/risks.ts
  packages/codegen/src/schema.ts
Labels: enhancement

#308 Revert "pagiantion sorting filtering"
  apps/console/src/app/(protected)/risks/page.tsx
  apps/console/src/app/(protected)/risks/table/risks-table-toolbar.tsx
  apps/console/src/app/(protected)/risks/table/table-config.ts
  apps/console/src/components/pages/protected/overview/risks.tsx
  apps/console/src/lib/graphql-hooks/risks.ts
  packages/codegen/query/risks.ts
  packages/codegen/src/schema.ts
Labels: enhancement

#309 Feat/pagination sorting filtering risks
  apps/console/src/app/(protected)/risks/page.tsx
  apps/console/src/app/(protected)/risks/table/risks-table-toolbar.tsx
  apps/console/src/app/(protected)/risks/table/table-config.ts
  apps/console/src/components/pages/protected/overview/risks.tsx
  apps/console/src/lib/graphql-hooks/risks.ts
  packages/codegen/query/risks.ts
  packages/codegen/src/schema.ts
Labels: enhancement

#319 Close dialog after task bulk import
  apps/console/src/components/pages/protected/tasks/create-task/dialog/bulk-csv-create-task-dialog.tsx
Labels: bug

#302 Feat: allow for passkeys to be configured in user's dashboard and login method on auth page
  apps/console/src/app/api/auth/authentication-verification/route.ts
  apps/console/src/app/api/auth/registration-options/route.ts
  apps/console/src/app/api/auth/registration-verification/route.ts
  apps/console/src/app/api/auth/signin-options/route.ts
  apps/console/src/components/pages/auth/login/login.tsx
  apps/console/src/components/pages/protected/profile/user-settings/passkeys-section.tsx
  apps/console/src/components/pages/protected/profile/user-settings/profile-page.tsx
  apps/console/src/lib/auth/auth.ts
  apps/console/src/lib/auth/providers/passkey.ts
  apps/console/src/lib/user.ts
  packages/codegen/query/user.ts
  packages/codegen/src/schema.ts
Labels: enhancement

#322 bug: fix control search to be case insensitive
  apps/console/src/components/pages/protected/standards/standard-details-accordion.tsx
Labels: bug

#326 update billing with new links
  apps/console/src/components/pages/protected/organization/billing/billing-settings.styles.tsx
  apps/console/src/components/pages/protected/organization/billing/billing-settings.tsx
  apps/console/src/components/pages/protected/organization/billing/pricing-plan.tsx
  packages/codegen/query/organization.ts
  packages/codegen/src/schema.ts
Labels: enhancement

#324 Feat forgot password
  apps/console/src/app/(auth)/forgot-password/page.tsx
  apps/console/src/app/(auth)/password-reset/page.tsx
  apps/console/src/app/providers.tsx
  apps/console/src/components/pages/auth/login/login.tsx
  apps/console/src/components/pages/auth/password-reset/page.tsx
  apps/console/src/middleware.ts
Labels: enhancement

#330 just use yaml, add expected behavior to yaml bug template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: ci

#323 policy_default_template: added default template on policy creation an…
  apps/console/src/components/pages/protected/policies/create/form/create-policy-form.tsx
  apps/console/src/components/pages/protected/policies/create/hooks/use-form-schema.ts
  apps/console/src/components/pages/protected/policies/view/fields/details-field.tsx
Labels: documentation

#340 fix width of password reset input, small styling
  apps/console/src/app/(auth)/forgot-password/page.tsx
  apps/console/src/components/pages/auth/login/login.tsx
  apps/console/src/components/pages/auth/password-reset/page.tsx
  apps/console/src/components/pages/auth/signup/signup.tsx
Labels: bug

#351 export csv
  apps/console/src/app/(protected)/risks/page.tsx
  apps/console/src/app/(protected)/risks/table/risks-table-toolbar.tsx
  apps/console/src/components/pages/protected/policies/table/policies-table-toolbar.tsx
  apps/console/src/components/pages/protected/policies/table/policies-table.tsx
  apps/console/src/components/pages/protected/procedures/table/procedures-table-toolbar.tsx
  apps/console/src/components/pages/protected/procedures/table/procedures-table.tsx
  apps/console/src/components/pages/protected/tasks/table/task-table-toolbar.tsx
  apps/console/src/components/pages/protected/tasks/table/task-table.tsx
  apps/console/src/utils/exportToCSV.ts
Labels: enhancement

#353 control improvements
  apps/console/src/components/pages/protected/controls/associated-objects-accordion.tsx
  packages/codegen/query/control.ts
  packages/codegen/query/subcontrol.ts
  packages/codegen/src/schema.ts
Labels: enhancement

#363 Feat program create update
  apps/console/src/components/pages/protected/program/wizard.tsx
  apps/console/src/components/pages/protected/program/wizard/step-1-init.tsx
Labels: enhancement

#365 Feat waitlist redesign
  apps/console/public/icons/discord.svg
  apps/console/public/icons/github.svg
  apps/console/public/icons/linkedin.svg
  apps/console/public/icons/settings-bg.svg
  apps/console/src/app/(auth)/waitlist/page.tsx
  apps/console/src/components/pages/auth/subscribe/subscribe.styles.ts
  apps/console/src/components/pages/auth/subscribe/subscribe.tsx
Labels: enhancement

#370 sesion expire toast
  apps/console/src/lib/graphqlClient.ts
Labels: enhancement

#384 minor text alterations for subscribers
  apps/console/src/components/pages/auth/subscribe/subscribe.tsx
Labels: enhancement

#385 fixing stats for dashboard
  apps/console/src/components/shared/stats-cards/stats-cards-styles.ts
  apps/console/src/components/shared/stats-cards/stats-cards.tsx
  apps/console/src/lib/graphql-hooks/programs.ts
  apps/console/tailwind.config.ts
  packages/codegen/query/programs.ts
  packages/codegen/src/schema.ts
Labels: enhancement

#386 placeholder for programs
  apps/console/src/app/(protected)/programs/page.tsx
  apps/console/src/components/pages/protected/program/program-create.tsx
Labels: enhancement
